ftmiddle/gw_configs/
ftmiddle_for_incomes/gw_configs/
hs_ft_pf_1/packet_forwarder/lora_pkt_fwd1
hs_ft_pf_2/packet_forwarder/lora_pkt_fwd2
hs_ft_pf_3/packet_forwarder/lora_pkt_fwd3
hs_ft_pf_4/packet_forwarder/lora_pkt_fwd4
hs_ft_pf_5/packet_forwarder/lora_pkt_fwd5
